{% load static %}

<nav class="navbar">
    <a href="{% url 'search_skins' %}" class="home-button">
        <img src="{% static 'images/logo.png' %}" alt="Home" class="home-icon">
    </a>
    <ul class="nav-links">
        <li><a href="https://discord.gg/yAcdSCVrya">Discord</a></li>
        <li><a href="{% url 'search_skins' %}">Search Skins</a></li>
        <li><a href="{% url 'upload_skin' %}">Upload Skin</a></li>

        {% if user.is_authenticated %}
            <li><a href="{% url 'my_profile' %}" class="username-link">{{ user.username }}</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
    </ul>
</nav>
