{% load static %}

<nav class="navbar">
    <a href="{% url 'search_skins' %}" class="home-button">
        <img src="{% static 'images/BonkverseLogo.png' %}" alt="Home" class="home-icon">
    </a>


    <ul class="nav-links">
        <li><a href="https://discord.gg/yAcdSCVrya">Discord</a></li>
        <li><a href="{% url 'search_skins' %}">Search Skins</a></li>
        <li><a href="{% url 'matchmaking' %}">1v1 Matchmaking</a></li>

        <li class="nav-item">
            <a href="#" class="nav-link">Skin Leaderboards ▾</a>
            <ul class="dropdown-menu">
            <li><a href="{% url 'leaderboards_upvoted' %}">Most Upvoted</a></li>
            <li><a href="{% url 'leaderboards_downvoted' %}">Most Downvoted</a></li>
            <li><a href="{% url 'leaderboards_favorited' %}">Most Favorited</a></li>
            </ul>
        </li>

        {% if user.is_authenticated %}
            <li class="nav-item">
                <a href="#" class="nav-link">Players Search ▾</a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'players_page' %}">Bonk Players</a></li>
                    <li><a href="{% url 'flash_friends_page' %}">Flash Friends</a></li>
                </ul>
            </li>
            <li><a href="{% url 'upload_skin' %}">Upload Skin</a></li>
            <li><a href="{% url 'my_profile' %}" class="username-link">{{ user.username }}</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
    </ul>
</nav>
