{% extends "skins/base.html" %}

{% block content %}
<div class="leaderboard-container">
  <h2 class="leaderboard-title">Most Favorited Skins</h2>
  <table class="leaderboard-table">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Skin</th>
        <th>Creator</th>
        <th>Favorites</th>
      </tr>
    </thead>
    <tbody>
      {% for skin in skins %}
      <tr>
        <td>#{{ forloop.counter }}</td>
        <td><a href="{% url 'skin_detail' skin.id %}" class="skin-link">{{ skin.name }}</a></td>
        <td>{{ skin.creator }}</td>
        <td>{{ skin.favorites_count }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
